<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>dejawu</title>
  <script>dojoConfig = { parseOnLoad: false, async: true };</script>
  <script src="http://ajax.googleapis.com/ajax/libs/dojo/1.10.0/dojo/dojo.js"></script>
  <link rel="stylesheet" media="screen" href="http://ajax.googleapis.com/ajax/libs/dojo/1.10.0/dijit/themes/claro/claro.css">
  <!--
  <script>
  var javascripts = '@routes.Assets.at("/javascripts")';
  var dojo_play = javascripts + '/dojo-release-1.10.0';
  typeof(dojo) === "undefined"
    && document.write(unescape(
      "%3Clink
          rel=&quot;stylesheet&quot; media=&quot;screen&quot;
          href=&quot;") + dojo_play + "/dijit/themes/claro/claro.css" + unescape("&quot;%3E"))
    && document.write(unescape(
      "%3Cscript
          data-dojo-config=&quot;async: true, dojoBlankHtmlUrl: '/blank.html',
            packages: [ {
                name: 'custom',
                location: location.pathname.replace(/\/[^/]+$/, '') + '/javascripts/dojo-release-1.10.0'
            } ]&quot;
          src=&quot;")  + dojo_play + "/dojo/dojo.js" + unescape("&quot;%3E%3C/script%3E"));
  </script>
  -->
  <style type="text/css">
    html, body {
      width: 100%;
      height: 100%;
      margin: 0;
      overflow:hidden;
    }
    #_container {
      width: 100%;
      height: 100%;
    }
  </style>
</head>
<body>
  <div id="_loading">Loading<br/><img src="@routes.Assets.at("ajax-loader.gif")"/></div>
  <div id="_container" class="claro"></div>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/dejawu-scalajs-fastopt.js")"></script>

  <!-- Calling convention 1: Generated script calls your `main()` function -->
  <!-- script type="text/javascript" src="@routes.Assets.at("javascripts/dejawu-scalajs-launcher.js")"></script -->

  <script>
  require(["dojo/dom", "dojo/parser", "dojo/_base/config", "dojo/domReady!"],
  function(dom, parser, config) {
  
    // Calling convention 2: You decide when your `main()` function should be called
    //-- ((typeof global === "object" && global && global["Object"] === Object) ? global : this)
    //--   ["org"]["dejawu"]["demos"]["ScalaJSExample"]().main();

    // Calling convention 3 (best!): call the rendering function exposed by your ScalaJS project
    dom.byId("_container").innerHTML = _ScalaJSExample().renderText();
  
    parser.parse();

    // remove progress indicator
    var loading = dom.byId("_loading");
    loading.parentNode.removeChild(loading);
  });
  </script>
  
</body>
</html>
